<!-- <p>
  stats works!
</p>
-->
<div class="row">

  <div class="column">
    <div style="text-align:center">
      <mat-card class="chartCard">
        <mat-card-title>Scores</mat-card-title>
        <canvas id="barChart"></canvas>
      </mat-card>
    </div>
  </div>

  <div class="column">
    <div style="text-align:center">
      <mat-card class="chartCard">
        <mat-card-title>Achievements</mat-card-title>
        <canvas id="pieChart"></canvas>
      </mat-card>
    </div>
  </div>
  
</div>