<!--
  List of color codes can be found here:
  https://htmlcolorcodes.com/color-names/
-->
<div class = "row">
  <div class = "column">
      <h1>Users</h1>
      <div flex = 50 id="userList" layout="column">
        <div class = "row">
            <div class = "column">
                <h2>Online</h2>
                <mat-divider class="coolLine"></mat-divider>
                  <ul>
                    <!--springGreen-->
                    <li *ngFor="let user of onlineSorted" [style.backgroundColor]="'lightgreen'" style="font-size:18px">
                      <span class="onlineText">{{user.Username}}</span><span class="points">{{user.Score}}</span>
                    </li>
                  </ul>
              </div>
              <div class = "column">
                <h2>Offline</h2>
                <mat-divider class="coolLine"></mat-divider>
                  <ul>
                    <!--[style.backgroundColor]="'tomato'"-->
                    <li *ngFor="let user of offlineSorted" [style.backgroundColor]="'LightCoral'" style="font-size:18px">
                      <span class="onlineText">{{user.Username}}</span> <span class="points">{{user.Score}}</span>
                    </li>
                  </ul>
              </div>
        </div>
      </div>
      <div flex = 50 id="search">
          <h1>Find a Player</h1>
          <input id="searchVal" matInput placeholder="Username" style="font-size:25px">
          <button (click)="onClickMe()" style="font-size:25px"mat-button>Search</button>
      </div>
  </div>
  <div class = "column">
      <h1>Achievements</h1>
      <div flex = 50 id="achievement">
        <mat-card>
        <div class="buildList" *ngFor="let a of Achievements$">
          <img src="./assets/Achievements/{{a.Title}}/badge.png" alt="badge" width="20px" height="20px">
          <strong>{{a.Title + ": "}}</strong> {{a.Description}}
          <mat-divider *ngIf="a.Title != 'Wyly'"></mat-divider>
        </div>
        </mat-card>
      </div>
    </div>
  </div>

 


