#userList{
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

#achievement{
    text-align: left;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.onlineText{
    font-weight: 600;
    font-size: 18px;
    padding-left: 5%;
    float: left;
}

.points{
    padding-left: 40%;
    font-weight: 600;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.coolLine{
    margin-bottom: 2%;
}

#search{
    text-align: center;
    position: absolute;
    width: 50%;
    bottom: 10%;
}

.descriptionLayer{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 255, 255, .8);
    color: black;//#fff;
    visibility: hidden;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity .2s, visibility .2s;
}

.img_wrap:hover .descriptionLayer{
    visibility: visible;
    opacity: 1;
}

.description{
    transition: .2s;
    transform: translateY(1em);
    text-align: center;
}

.img_wrap:hover .description{
    transform: translateY(0);
}

h1 {
    text-align: center;
}
h2 {
    text-align: center;
}

.row {
    display: flex;
  }
  
.column {
    flex: 50%;
}