#userList{
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

#achievement{
    text-align: left;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

#search{
    text-align: center;
}

h1 {
    text-align: center;
}
h2 {
    text-align: center;
}

.row {
    display: flex;
  }
  
.column {
    flex: 50%;
}

.mat-card{
    background-color: chocolate;
}