#userList{
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

#achievement{
    text-align: left;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.onlineText{
    font-weight: 600;
    font-size: 18px;
    padding-left: 5%;
    float: left;
}

.points{
    padding-left: 40%;
    font-weight: 600;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.coolLine{
    margin-bottom: 2%;
}

#search{
    text-align: center;
    position: absolute;
    bottom: 10%;
    left: 15%;
}

h1 {
    text-align: center;
}
h2 {
    text-align: center;
}

.row {
    display: flex;
  }
  
.column {
    flex: 50%;
}