<!--
  List of color codes can be found here:
  https://htmlcolorcodes.com/color-names/
-->
<div class = "row">
  <div class = "column">
      <h1>Users</h1>
      <div flex = 50 id="userList" layout="column">
        <div class = "row">
            <div class = "column">
                <h2>Online</h2>
                  <ul>
                    <li *ngFor="let user of onlineSorted" [style.backgroundColor]="'springgreen'" style="font-size:18px">
                      {{user.Name + ": " + user.Score}}
                    </li>
                  </ul>
              </div>
              <div class = "column">
                <h2>Offline</h2>
                  <ul>
                    <li *ngFor="let user of offlineSorted" [style.backgroundColor]="'tomato'" style="font-size:18px">
                      {{user.Name + ": " + user.Score}}
                    </li>
                  </ul>
              </div>
        </div>
      </div>
  </div>
  <div class = "column">
      <h1>Achievements</h1>
      <div flex = 50 id="achievement">
      
        <ul>
          <li *ngFor="let a of Achievements$" [style.backgroundColor]="'ghostwhite'" style="font-size:18px">
            {{a.Title + ": " + a.Description}}
            <img src="./assets/Achievements/{{a.Title}}/badge.png" alt="badge" style="float:left" width=29 height=29>
          </li>
        </ul>
      </div>

      <h1>Find a Player</h1>
      <div flex = 50 id="search">
            <input id="searchVal" matInput placeholder="Username" style="font-size:25px">
            <button (click)="onClickMe()" style="font-size:25px"mat-button>Search</button>
      </div>
    </div>
  </div>

 


