<!--<p>
  map works!
</p>
-->
<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Expires" content="0">

<div class="row">

  <div class="column">

    <div id = "myContainer">

      <!-- <img class="img/gdit.png" src="../../assets/Info/Images/img3.png"> -->

    </div>

  </div>

  <div class="column">

    <div class="sidePanel">
        <img class="img/gdit.png" src="../../assets/Map/Textures/panelbg.png">
        <h2 class="overPic">I MADE THIS</h2>
    </div>

  </div>

</div>
