<div id="container">
  <div
    ng2-carouselamos
    class="slides-wrapper"
    [items]="items"
    [width]="1200"
    [$prev]="prev"
    [$next]="next"
    [$item]="item"
  >
  </div>


<ng-template #prev>
  <img src="../../assets/Info/left-arrow.png" id="left" />
</ng-template>
<ng-template #next>
  <img src="../../assets/Info/right-arrow.png" id="right" />
</ng-template>

<ng-template let-item let-i="index" #itemTemplate>
  <div style="min-width: 200px">
    <b *ngIf="i === selectedIndex">{{i}}. {{item.name}}</b>
    <span *ngIf="i !== selectedIndex">{{i}}. {{item.name}}</span>
  </div>
</ng-template>

<!--<ng-template item let-item let-i="index">

    <div class="items">
      <img src="{{ item.name }}">
    </div>

</ng-template>
-->