<div id="container">
  <app-sidebar></app-sidebar>

  <div id="content">
    <router-outlet></router-outlet>
  </div>
</div>
<button (click)="showToaster()">  
  Show Toaster
</button>  

<html>
  <head>
    <title>test ws mqtt.js</title>
  </head>
  <body>
    <script>
      var client = mqtt.connect('winnet.duckdns.org:1883');
      client.subscribe("mqtt/demo");

      client.on("broadcast", function (topic, payload) {
        alert([topic, payload].join(": "));
        client.end();
      });

      client.on("toast", function (topic, payload) {
        showToaster(topic, payload);
        client.end();
      });

      client.publish("mqtt/demo", "hello world!");
    </script>
  </body>
</html>