<nav>
  <ul>
    <li>
      <a routerLink="">
        <i class="material-icons">map</i>
      </a>
    </li>
    <li>
      <a routerLink="users">
        <i class="material-icons">supervised_user_circle</i>
      </a>
    </li>
    <li>
      <a routerLink="stats">
        <i class="material-icons">bar_chart</i>
      </a>
    </li>
    <li>
      <a routerLink="info">
        <i class="material-icons">info</i>
      </a>
    </li>
  </ul>
</nav>


<img class="img/gdit.png" src="../../assets/Info/Images/img3.png">

