nav {
    background: linear-gradient(    
    #F20DFF,
    #E61AFF,
    #BF40FF,
    #B24CFF,
    #A659FF,
    #9966FF,
    #8C73FF,
    #6688FF,
    #4DB2FF,
    #40BFFF,
    #33CCFF,
    #19E6FF,
    #00FFFF
    );
    height: 969px;

    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      li {
        a {
          color: #0DF2FF;
          padding: 20px;
          display: block;
        }
        .activated {
          background-color: #00a8ff;
        }
      }
    }
  }
  
  img {
    width: 15%;
    height: 15%;
    position: absolute;
    padding: 0px;
    top: 826px;
    left: 1705px;
  }