<h1 class="centerText">JOIN CPA</h1>

<form>

  <div>
      <mat-form-field class="fullWidth">
        <input matInput placeholder="Name">
      </mat-form-field>
  </div>

  <div>
      <mat-form-field class="fullWidth"> 
        <input matInput placeholder="Email" >
      </mat-form-field>
  </div>

  <div>
      <mat-form-field class="fullWidth">
        <input matInput placeholder="Username">
      </mat-form-field>
  </div>

  <button mat-raised-button class="centerButton">Submit</button>

</form>