<h3 class="centerText">
  Menu
</h3>
<mat-card>
  AutoScroll
  <div class="floatRight">
    <mat-slide-toggle (click)="toggleAutoScroll()" ngDefaultControl [(ngModel)]="device1">
    </mat-slide-toggle>
  </div>
</mat-card>
<h3 class="centerText">
  Map Controls
</h3>
<mat-card class="centerText">
  Use Mouse Wheel to Zoom
</mat-card>
<mat-card>
  Camera Speed
  <mat-slider min="0" max="10" step="2" value="0" [thumbLabel]="true" [(ngModel)]="cameraslider" class="floatRight" (click)="changeSpeed()">

  </mat-slider>
</mat-card>
<mat-card>
  Building Names
  <div class="floatRight">
    <mat-slide-toggle (click)="toggleBuildingNames()" ngDefaultControl [(ngModel)]="device2">
    </mat-slide-toggle>
  </div>
</mat-card>
<h3 class="centerText">
  User
</h3>
<button mat-raised-button class="centerButton" (click)="openForm()">
  Join
</button>