/* You can add global styles to this file, and also import other style files */
// body {
//      margin: 0;
//      background: #F2F2F2;
//      font-family: 'Montserrat', sans-serif;
//      height: 100vh;
// }

#container {
    // margin: 0;
    background: rgba(0,255,255,.25);//#00FFFF;
    font-family: 'Montserrat', sans-serif;
    // margin: 0;
    display: grid;
    // grid-template-columns: 70px auto;
    
    #content {
        // margin: 0;
        // height: 100vh;
        // padding: 0px 0px;

        ul {
            list-style-type: none;
            margin:0;
            padding:0;
        
            li {
                background:#fff;
                border-radius: 8px;
                padding: 0px;
                margin-bottom: 8px;
        
                a {
                    font-size: 1.5em;
                    text-decoration: none;
                    font-weight: bold;
                    color:#00A8FF;
                }
        
                ul {
                    margin-top: 20px;
                    
                    li {
                        padding:0;
        
                        a {
                            font-size: 1em;
                            font-weight: 300;
                        }
                    }
                }
            }
        }
    }
}

// html{ height: 100%; }
body { margin: 0; }
