/* You can add global styles to this file, and also import other style files */

/* body {
    margin: 0;
    background: #00FFFF;
    font-family: 'Montserrat', sans-serif;
    height: 100%;
} */

#container {
    display: grid;
    grid-template-columns: 70px auto;
    height: 100vh;
}

#content {

    margin: 0;
    background: #00FFFF;
    padding: 0px 0px;
    ul: {
        list-style-type: none;
        margin: 0;
        padding: 0;
        li {
            background: #fff;
            border-radius: 8px;
            padding: 0px;
            margin-bottom: 8px;
            a: {
                font-size: 1.5em;
                text-decoration: none;
                font-weight: bold;
                color: #00A8FF;
            }
            ul {
                margin-top: 20px;
                li {
                    padding: 0;
                    a {
                        font-size: 1em;
                        font-weight: 300;
                    }
                }
            }
        }
    }
}



/* html{
    height: 100%;
} */

/* body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
} */